# PostgreSQL
DATABASE_URL=postgresql+asyncpg://...

# Мониторинг
BTC_THRESHOLD=30000.0
CHECK_INTERVAL=60
COINS='["BTCUSDT", "ETHUSDT", "TONUSDT", "SOLUSDT", "DOGEUSDT"]'

# Sentry (опционально)
SENTRY_DSN=